:root {

    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    /* font-size: 18px; 
    border: 1px solid black; */
}

main {
    min-height: 100vh;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    width: 620px;
    box-shadow: 5px 15px 10px hsl(221, 100%, 96%);
    border-radius: 25px;
}


/* Left Card */

.card-result {
    border-radius: 30px;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    color: white;
    text-align: center;
    width: 50%;
}

.result-title {
    font-size: 1.3rem;
    margin-top: 10px;
    color: var(--light-lavender);
}

.result-score {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    font-size: 4rem;
    font-weight: 800;
}

.result-score span {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.result-score p {
    transform: translateY(50px);
}

.score-info {
    padding: 0 20px;
    margin: 0px;
}

.score-info h2 {
    font-size: 2rem;
    font-weight: 700;
}

.result-info {
    color: var(--light-lavender);
}


/* Right Card */
.card-summary {
    width: 50%;
    padding: 10px;
    margin-left: 20px;
}

.summary-title {
    font-weight: 400;
    font-size: 1.4rem;
}

.card-summary span {
    text-align: left; 
}

ul {
    list-style: none;
}

li {
    width: 80%;
    border-radius: 10%;
}

li p {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

#reaction {
    color: var(--light-red);
    background-color: rgba(255, 87, 87, 0.08);
}

#memory {
    color: var(--orangey-yellow);
    background-color: hsla(39, 100%, 56%,0.08);
}

#verbal {
    color: var(--green-teal);
    background-color: hsla(166, 100%, 37%,0.08);
}

#visual {
    color: var(--cobalt-blue);
    background-color: hsl(234, 85%, 45%,0.08);
}